/************SEASONWATCH.IN VER 1.0 RELEASE Date: 22 Jul 2013 *********/

	pre{
		display:block;
		padding:10px;
		border:1px solid #bae2f0;
		background:#e3f4f9;	
		margin:.5em 0;
		width:300px;
		}	
			
    /* image replacement */
        .graphic, #prevBtn, #nextBtn, #slider1prev, #slider1next{
            margin:0;
            padding:0;
            display:block;
            overflow:hidden;
            text-indent:-8000px;
            }
    /* // image replacement */
			
	#container{	
		margin:0 0 0 0;
		position:relative;
		text-align:left;
		width:280px;
		margin-bottom:2em;
		float:left;
		}	
				
	#content{
		position:relative;
		}			

/* Easy Slider */

	#img_slider ul, #img_slider li,
	#slider2 ul, #slider2 li{
		margin:0;
		padding:0;
		list-style:none;
		position:relative;
		}
	#slider2{margin-top:0;}
	#img_slider li, #slider2 li{ 
		/* 
			define width and height of list item (slide)
			entire slider area will adjust according to the parameters provided here
		*/ 
		width:280px;
		height:330px;
		text-align:center;
		overflow:hidden; 
		margin:0 0 0 0px;
		}	
		
		#img_slider ul li span{
			margin:0px;
			padding:0px;
			left:50px;
			bottom:0px;
			position:absolute;
			text-align:center;
			width:150px;
		}
		
		
	#prevBtn, #nextBtn,
	#slider1next, #slider1prev{ 
		display:block;
		width:30px;
		height:77px;
		position:absolute;
		left:0px;
		top:260px;
		z-index:1000;
		}	
	#nextBtn, #slider1next{ 
		left:230px;
		}														
	#prevBtn a, #nextBtn a,
	#slider1next a, #slider1prev a{  
		display:block;
		position:relative;
		width:25px;
		height:25px;
		background:url(../images/prevtwo.jpg) no-repeat 0 0;	
		}	
	#nextBtn a, #slider1next a{ 
		background:url(../images/prevOne.jpg) no-repeat 0 0;	
		
		}	
		
	/* numeric controls */	

	ol#controls{
		margin:1em 0;
		padding:0;
		height:28px;	
		}
	ol#controls li{
		margin:0 10px 0 0; 
		padding:0;
		float:left;
		list-style:none;
		height:28px;
		line-height:28px;
		}
	ol#controls li a{
		float:left;
		height:28px;
		line-height:28px;
		border:1px solid #ccc;
		background:#DAF3F8;
		color:#555;
		padding:0 10px;
		text-decoration:none;
		}
	ol#controls li.current a{
		background:#5DC9E1;
		color:#fff;
		}
	ol#controls li a:focus, #prevBtn a:focus, #nextBtn a:focus{outline:none;}
	
/* // Easy Slider */