HTML {
	
}
BODY {
	BACKGROUND-IMAGE: url(../images/bg.jpg); BACKGROUND-COLOR: #6fc319; MARGIN: 0px; BACKGROUND-REPEAT: repeat-x; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #666666; FONT-SIZE: 14px
}
H1 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H2 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H3 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H4 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H5 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H6 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
BLOCKQUOTE {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
P {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DT {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DD {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
UL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
LI {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
FORM {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
INPUT {
	FONT-SIZE: 12px
}
IMG {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}
A:link {
	OUTLINE-STYLE: none; OUTLINE-COLOR: invert; OUTLINE-WIDTH: medium; COLOR: #be1852; TEXT-DECORATION: none
}
A:visited {
	OUTLINE-STYLE: none; OUTLINE-COLOR: invert; OUTLINE-WIDTH: medium; COLOR: #be1852; TEXT-DECORATION: none
}
A:hover {
	OUTLINE-STYLE: none; OUTLINE-COLOR: invert; OUTLINE-WIDTH: medium; COLOR: #df4e81; TEXT-DECORATION: none
}
A:focus {
	OUTLINE-STYLE: none; OUTLINE-COLOR: invert; OUTLINE-WIDTH: medium
}
.floatLeft {
	FLOAT: left
}
.floatRight {
	FLOAT: right
}
.clearBoth {
	CLEAR: both
}
.imgAlignVertical {
	VERTICAL-ALIGN: middle
}
.percentHolder {
	WIDTH: 100%
}
.alignCenter {
	TEXT-ALIGN: center
}
.alignLeft {
	TEXT-ALIGN: left
}
.alignRight {
	TEXT-ALIGN: right
}
#mainHolder {
	POSITION: relative; MARGIN: auto; WIDTH: 960px; HEIGHT: 100%; OVERFLOW: hidden
}
#homeHeader {
	BACKGROUND-IMAGE: url(../images/headerGlow.jpg); WIDTH: 960px; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: left -1px; FLOAT: left; HEIGHT: 136px
}
#homeHeader IMG.logo {
	MARGIN: 25px 0px 0px 18px; FLOAT: left
}
#homeHeader SPAN {
	PADDING-BOTTOM: 0px; FONT-STYLE: italic; PADDING-LEFT: 230px; PADDING-RIGHT: 0px; FONT-FAMILY: Georgia, "Times New Roman", Times, serif; FLOAT: left; COLOR: #ffffff; PADDING-TOP: 10px
}
#homeHeader IMG.season {
	MARGIN: 30px 10px 0px 0px; FLOAT: right
}
#mainContentHolder {
	PADDING-BOTTOM: 10px; BACKGROUND-COLOR: #fafafa; PADDING-LEFT: 30px; WIDTH: 900px; PADDING-RIGHT: 30px; FLOAT: left; PADDING-TOP: 10px
}
DL.userStatus {
	WIDTH: 900px; FLOAT: left
}
DL.userStatus DT {
	FLOAT: left; COLOR: #6bc5c5; FONT-SIZE: 12px; FONT-WEIGHT: bold
}
DL.userStatus DD {
	FLOAT: right; COLOR: #999999; FONT-SIZE: 12px; FONT-WEIGHT: bold
}
DIV.leftBlock {
	WIDTH: 600px; FLOAT: left; PADDING-TOP: 30px
}
DIV.leftBlock DIV.leftHeader {
	BACKGROUND-IMAGE: url(../images/line.jpg); WIDTH: 600px; BACKGROUND-REPEAT: repeat-x; BACKGROUND-POSITION: left bottom; FLOAT: left
}
DIV.leftBlock DIV.leftHeader H1 {
	FLOAT: left; FONT-SIZE: 24px
}
DIV.leftBlock DIV.leftHeader SPAN {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 5px; FLOAT: right; FONT-SIZE: 12px; FONT-WEIGHT: bold; PADDING-TOP: 12px
}
DIV.rightBlock {
	WIDTH: 215px; FLOAT: right; PADDING-TOP: 30px
}
DIV.rightBlock DIV.rightHeader {
	BACKGROUND-IMAGE: url(../images/line.jpg); WIDTH: 215px; BACKGROUND-REPEAT: repeat-x; BACKGROUND-POSITION: left bottom; FLOAT: left
}
DIV.rightBlock DIV.rightHeader H1 {
	PADDING-BOTTOM: 2px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FLOAT: left; FONT-SIZE: 16px; PADDING-TOP: 9px
}
DIV.rightBlock DIV.rightHeader SPAN {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 5px; FLOAT: right; FONT-SIZE: 12px; FONT-WEIGHT: bold; PADDING-TOP: 12px
}
.login {
	HEIGHT: 520px
}
.login DIV {
	WIDTH: 370px; FLOAT: left
}
.login DIV DL {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; WIDTH: 360px; PADDING-RIGHT: 0px; FLOAT: left; PADDING-TOP: 18px
}
.login DIV DL DT {
	PADDING-BOTTOM: 5px; WIDTH: 360px; FLOAT: left; FONT-WEIGHT: bold
}
.login DIV DL DD {
	WIDTH: 360px; FLOAT: left
}
.login DIV DL DD INPUT.txtInput {
	BORDER-BOTTOM: #97dbdb 1px solid; BORDER-LEFT: #97dbdb 1px solid; WIDTH: 288px; HEIGHT: 32px; COLOR: #666666; FONT-SIZE: 14px; BORDER-TOP: #97dbdb 1px solid; BORDER-RIGHT: #97dbdb 1px solid
}
.login DIV DL DD INPUT.loginButton {
	BORDER-BOTTOM: medium none; TEXT-ALIGN: left; BORDER-LEFT: medium none; PADDING-BOTTOM: 0px; BACKGROUND-COLOR: #df4e81; PADDING-LEFT: 10px; WIDTH: 126px; PADDING-RIGHT: 0px; HEIGHT: 32px; COLOR: #ffffff; FONT-SIZE: 15px; BORDER-TOP: medium none; CURSOR: pointer; FONT-WEIGHT: bold; BORDER-RIGHT: medium none; PADDING-TOP: 0px
}
.login DIV P {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 20px; PADDING-LEFT: 0px; WIDTH: 360px; PADDING-RIGHT: 0px; FLOAT: left; PADDING-TOP: 18px
}
.login BLOCKQUOTE {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; WIDTH: 520px; PADDING-RIGHT: 0px; FLOAT: left; PADDING-TOP: 15px
}
.login BLOCKQUOTE H1 {
	PADDING-BOTTOM: 10px; FONT-SIZE: 50px
}
.login BLOCKQUOTE P {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 20px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-SIZE: 14px; PADDING-TOP: 10px
}
.home {
	HEIGHT: 520px
}
DIV.treeRow {
	BACKGROUND-IMAGE: url(../images/line.jpg); PADDING-BOTTOM: 4px; PADDING-LEFT: 7px; WIDTH: 592px; PADDING-RIGHT: 1px; BACKGROUND-REPEAT: repeat-x; BACKGROUND-POSITION: left bottom; FLOAT: left; PADDING-TOP: 10px
}
DIV.treeRowHover {
	BACKGROUND-IMAGE: url(../images/line.jpg); PADDING-BOTTOM: 4px; BACKGROUND-COLOR: #ededed; PADDING-LEFT: 7px; WIDTH: 592px; PADDING-RIGHT: 1px; BACKGROUND-REPEAT: repeat-x; BACKGROUND-POSITION: left bottom; FLOAT: left; PADDING-TOP: 10px
}
DIV.treeRow BLOCKQUOTE {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; WIDTH: 145px; PADDING-RIGHT: 0px; FLOAT: left; PADDING-TOP: 14px
}
DIV.treeRowHover BLOCKQUOTE {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; WIDTH: 145px; PADDING-RIGHT: 0px; FLOAT: left; PADDING-TOP: 14px
}
DIV.treeRow BLOCKQUOTE SPAN {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 20px; PADDING-LEFT: 0px; WIDTH: 95px; PADDING-RIGHT: 0px; FLOAT: left; PADDING-TOP: 2px
}
DIV.treeRowHover BLOCKQUOTE SPAN {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 20px; PADDING-LEFT: 0px; WIDTH: 95px; PADDING-RIGHT: 0px; FLOAT: left; PADDING-TOP: 2px
}
DIV.treeRow BLOCKQUOTE SPAN A:link {
	FONT-WEIGHT: bold
}
DIV.treeRow BLOCKQUOTE SPAN A:visited {
	FONT-WEIGHT: bold
}
DIV.treeRow BLOCKQUOTE SPAN A:hover {
	FONT-WEIGHT: bold
}
DIV.treeRowHover BLOCKQUOTE SPAN A:link {
	FONT-WEIGHT: bold
}
DIV.treeRowHover BLOCKQUOTE SPAN A:visited {
	FONT-WEIGHT: bold
}
DIV.treeRowHover BLOCKQUOTE SPAN A:hover {
	FONT-WEIGHT: bold
}
DIV.treeRow SMALL {
	WIDTH: 303px; FLOAT: left
}
DIV.treeRowHover SMALL {
	WIDTH: 303px; FLOAT: left
}
DIV.treeRow P {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; WIDTH: 126px; PADDING-RIGHT: 2px; FLOAT: right; PADDING-TOP: 0px
}
DIV.treeRowHover P {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; WIDTH: 126px; PADDING-RIGHT: 2px; FLOAT: right; PADDING-TOP: 0px
}
DIV.treeRow P LABEL {
	TEXT-ALIGN: right; WIDTH: 126px; FLOAT: left; HEIGHT: 58px; VERTICAL-ALIGN: bottom
}
DIV.treeRowHover P LABEL {
	TEXT-ALIGN: right; WIDTH: 126px; FLOAT: left; HEIGHT: 58px; VERTICAL-ALIGN: bottom
}
DIV.treeRow P SPAN {
	TEXT-ALIGN: right; LINE-HEIGHT: 28px; WIDTH: 126px; FLOAT: left
}
DIV.treeRowHover P SPAN {
	TEXT-ALIGN: right; LINE-HEIGHT: 28px; WIDTH: 126px; FLOAT: left
}
DIV.treeRow P SPAN A:link {
	COLOR: #cc3300; FONT-WEIGHT: bold
}
DIV.treeRow P SPAN A:visited {
	COLOR: #cc3300; FONT-WEIGHT: bold
}
DIV.treeRow P SPAN A:hover {
	COLOR: #cc3300; FONT-WEIGHT: bold
}
DIV.treeRowHover P SPAN A:link {
	COLOR: #cc3300; FONT-WEIGHT: bold
}
DIV.treeRowHover P SPAN A:visited {
	COLOR: #cc3300; FONT-WEIGHT: bold
}
DIV.treeRowHover P SPAN A:hover {
	COLOR: #cc3300; FONT-WEIGHT: bold
}
DL.memberList {
	BACKGROUND-IMAGE: url(../images/line.jpg); PADDING-BOTTOM: 7px; PADDING-LEFT: 1px; WIDTH: 214px; PADDING-RIGHT: 0px; BACKGROUND-REPEAT: repeat-x; BACKGROUND-POSITION: left bottom; FLOAT: left; PADDING-TOP: 14px
}
DL.memberList DT {
	WIDTH: 132px; FLOAT: left; COLOR: #be1853; FONT-WEIGHT: bold
}
DL.memberList DD {
	WIDTH: 82px; FLOAT: left
}
.profileTree {
	HEIGHT: 520px
}
DIV.profileTreeHolder {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 0px; WIDTH: 600px; PADDING-RIGHT: 0px; FLOAT: left; PADDING-TOP: 5px
}
DIV.profileTreeHolder H5 {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; COLOR: #999999; FONT-WEIGHT: normal; PADDING-TOP: 0px
}
DIV.profileTreeHolder BLOCKQUOTE {
	PADDING-BOTTOM: 40px; PADDING-LEFT: 0px; WIDTH: 600px; PADDING-RIGHT: 0px; FLOAT: left; PADDING-TOP: 20px
}
DIV.profileTreeHolder DIV {
	WIDTH: 208px; FLOAT: left
}
DIV.profileTreeHolder DIV DL {
	BACKGROUND-IMAGE: url(../images/line.jpg); PADDING-BOTTOM: 14px; PADDING-LEFT: 2px; WIDTH: 204px; PADDING-RIGHT: 2px; BACKGROUND-REPEAT: repeat-x; BACKGROUND-POSITION: left bottom; FLOAT: left; FONT-WEIGHT: bold; PADDING-TOP: 14px
}
DIV.profileTreeHolder DIV DL.no {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
DIV.profileTreeHolder DIV DL DT {
	PADDING-BOTTOM: 5px; WIDTH: 112px; FLOAT: left
}
DIV.profileTreeHolder DIV DL DD {
	PADDING-BOTTOM: 5px; WIDTH: 90px; FLOAT: left
}
DIV.profileTreeHolder P {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; WIDTH: 340px; PADDING-RIGHT: 0px; FLOAT: right; PADDING-TOP: 12px
}
DIV.profileTreeHolder P IMG {
	MARGIN-RIGHT: 6px
}
DL.assignedMemberList {
	BACKGROUND-IMAGE: url(../images/line.jpg); PADDING-BOTTOM: 7px; PADDING-LEFT: 1px; WIDTH: 214px; PADDING-RIGHT: 0px; BACKGROUND-REPEAT: repeat-x; BACKGROUND-POSITION: left bottom; FLOAT: left; PADDING-TOP: 14px
}
DL.assignedMemberList DT {
	WIDTH: 132px; FLOAT: left; COLOR: #be1853; FONT-WEIGHT: bold
}
DL.assignedMemberList DT A:link {
	COLOR: #333333
}
DL.assignedMemberList DT A:visited {
	COLOR: #333333
}
DL.assignedMemberList DT A:hover {
	COLOR: #666666
}
DL.assignedMemberList DT A.dactive:link {
	COLOR: #999999
}
DL.assignedMemberList DT A.dactive:visited {
	COLOR: #999999
}
DL.assignedMemberList DT A.dactive:hover {
	COLOR: #999999
}
DL.assignedMemberList DD {
	TEXT-ALIGN: right; WIDTH: 82px; FLOAT: left
}
DL.assignedMemberList DD INPUT {
	MARGIN-LEFT: 8px
}
#mask {
	Z-INDEX: 9000; POSITION: absolute; BACKGROUND-COLOR: #000; DISPLAY: none; TOP: 0px; LEFT: 0px
}
.window {
	Z-INDEX: 9999; POSITION: absolute; PADDING-BOTTOM: 10px; BACKGROUND-COLOR: #ededed; PADDING-LEFT: 20px; WIDTH: 760px; PADDING-RIGHT: 20px; DISPLAY: none; HEIGHT: 580px; TOP: 0px; PADDING-TOP: 10px; LEFT: 0px
}
.treeModal H1 {
	LETTER-SPACING: 8px; COLOR: #ff6600; FONT-SIZE: 24px; FONT-WEIGHT: normal
}
.treeModal H2 {
	FONT-SIZE: 24px
}
.treeModal DIV {
	WIDTH: 520px; FLOAT: left
}
.treeModal DIV UL.treePartHeader {
	PADDING-BOTTOM: 5px; LIST-STYLE-TYPE: none; WIDTH: 520px; FLOAT: left; LIST-STYLE-IMAGE: none; PADDING-TOP: 25px
}
.treeModal DIV UL.treePartHeader LI {
	FLOAT: left
}
.treeModal DIV UL.treePartHeader LI.first {
	PADDING-LEFT: 4px; WIDTH: 172px; FONT-SIZE: 16px; FONT-WEIGHT: bold
}
.treeModal DIV UL.treePartHeader LI.second {
	WIDTH: 78px; COLOR: #999999; FONT-SIZE: 12px
}
.treeModal DIV UL.treePartHeader LI.third {
	WIDTH: 88px; COLOR: #999999; FONT-SIZE: 12px
}
.treeModal DIV UL.treePartHeader LI.fourth {
	WIDTH: 108px; COLOR: #999999; FONT-SIZE: 12px
}
.treeModal DIV UL.treePartHeader LI.fifth {
	WIDTH: 35px; COLOR: #999999; FONT-SIZE: 12px
}
.treeModal DIV UL.treeLeaves {
	BACKGROUND-IMAGE: url(../images/leavesBg.gif); LIST-STYLE-TYPE: none; WIDTH: 520px; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: left top; MARGIN-BOTTOM: 5px; FLOAT: left; HEIGHT: 47px; LIST-STYLE-IMAGE: none; PADDING-TOP: 6px
}
.treeModal DIV UL.treeLeaves LI {
	FLOAT: left
}
.treeModal DIV UL.treeLeaves LI.first {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 12px; WIDTH: 164px; PADDING-RIGHT: 0px; FONT-SIZE: 16px; FONT-WEIGHT: bold; PADDING-TOP: 10px
}
.treeModal DIV UL.treeLeaves LI.second {
	BACKGROUND-IMAGE: url(../images/sep.gif); PADDING-BOTTOM: 8px; PADDING-LEFT: 5px; WIDTH: 70px; PADDING-RIGHT: 0px; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: right center; COLOR: #999999; FONT-SIZE: 12px; PADDING-TOP: 12px
}
.treeModal DIV UL.treeLeaves LI.third {
	BACKGROUND-IMAGE: url(../images/sep.gif); PADDING-BOTTOM: 8px; PADDING-LEFT: 5px; WIDTH: 88px; PADDING-RIGHT: 0px; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: right center; COLOR: #999999; FONT-SIZE: 12px; PADDING-TOP: 12px
}
.treeModal DIV UL.treeLeaves LI.fourth {
	PADDING-BOTTOM: 8px; PADDING-LEFT: 5px; WIDTH: 108px; PADDING-RIGHT: 0px; COLOR: #999999; FONT-SIZE: 12px; PADDING-TOP: 8px
}
.treeModal DIV UL.treeLeaves LI.fifth {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 2px; WIDTH: 35px; PADDING-RIGHT: 0px; COLOR: #ff6600; FONT-SIZE: 32px; PADDING-TOP: 5px
}
.treeModal DIV UL.treeFlowers {
	BACKGROUND-IMAGE: url(../images/flowersBg.gif); LIST-STYLE-TYPE: none; WIDTH: 520px; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: left top; MARGIN-BOTTOM: 5px; FLOAT: left; HEIGHT: 47px; LIST-STYLE-IMAGE: none; PADDING-TOP: 6px
}
.treeModal DIV UL.treeFlowers LI {
	FLOAT: left
}
.treeModal DIV UL.treeFlowers LI.first {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 12px; WIDTH: 164px; PADDING-RIGHT: 0px; FONT-SIZE: 16px; FONT-WEIGHT: bold; PADDING-TOP: 10px
}
.treeModal DIV UL.treeFlowers LI.second {
	BACKGROUND-IMAGE: url(../images/sep.gif); PADDING-BOTTOM: 8px; PADDING-LEFT: 5px; WIDTH: 70px; PADDING-RIGHT: 0px; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: right center; COLOR: #999999; FONT-SIZE: 12px; PADDING-TOP: 12px
}
.treeModal DIV UL.treeFlowers LI.third {
	BACKGROUND-IMAGE: url(../images/sep.gif); PADDING-BOTTOM: 8px; PADDING-LEFT: 5px; WIDTH: 88px; PADDING-RIGHT: 0px; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: right center; COLOR: #999999; FONT-SIZE: 12px; PADDING-TOP: 12px
}
.treeModal DIV UL.treeFlowers LI.fourth {
	PADDING-BOTTOM: 8px; PADDING-LEFT: 5px; WIDTH: 108px; PADDING-RIGHT: 0px; COLOR: #999999; FONT-SIZE: 12px; PADDING-TOP: 8px
}
.treeModal DIV UL.treeFlowers LI.fifth {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 2px; WIDTH: 35px; PADDING-RIGHT: 0px; COLOR: #ff6600; FONT-SIZE: 32px; PADDING-TOP: 5px
}
.treeModal DIV UL.treeFruits {
	BACKGROUND-IMAGE: url(../images/fruitsBg.gif); LIST-STYLE-TYPE: none; WIDTH: 520px; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: left top; MARGIN-BOTTOM: 5px; FLOAT: left; HEIGHT: 47px; LIST-STYLE-IMAGE: none; PADDING-TOP: 6px
}
.treeModal DIV UL.treeFruits LI {
	FLOAT: left
}
.treeModal DIV UL.treeFruits LI.first {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 12px; WIDTH: 164px; PADDING-RIGHT: 0px; FONT-SIZE: 16px; FONT-WEIGHT: bold; PADDING-TOP: 10px
}
.treeModal DIV UL.treeFruits LI.second {
	BACKGROUND-IMAGE: url(../images/sep.gif); PADDING-BOTTOM: 8px; PADDING-LEFT: 5px; WIDTH: 70px; PADDING-RIGHT: 0px; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: right center; COLOR: #999999; FONT-SIZE: 12px; PADDING-TOP: 12px
}
.treeModal DIV UL.treeFruits LI.third {
	BACKGROUND-IMAGE: url(../images/sep.gif); PADDING-BOTTOM: 8px; PADDING-LEFT: 5px; WIDTH: 88px; PADDING-RIGHT: 0px; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: right center; COLOR: #999999; FONT-SIZE: 12px; PADDING-TOP: 12px
}
.treeModal DIV UL.treeFruits LI.fourth {
	PADDING-BOTTOM: 8px; PADDING-LEFT: 5px; WIDTH: 108px; PADDING-RIGHT: 0px; COLOR: #999999; FONT-SIZE: 12px; PADDING-TOP: 8px
}
.treeModal DIV UL.treeFruits LI.fifth {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 2px; WIDTH: 35px; PADDING-RIGHT: 0px; COLOR: #ff6600; FONT-SIZE: 32px; PADDING-TOP: 5px
}
.treeModal P {
	TEXT-ALIGN: right; WIDTH: 200px; FLOAT: right; PADDING-TOP: 460px
}
.treeModal P INPUT {
	BORDER-BOTTOM: medium none; TEXT-ALIGN: left; BORDER-LEFT: medium none; PADDING-BOTTOM: 0px; BACKGROUND-COLOR: #d6696a; PADDING-LEFT: 10px; WIDTH: 80px; PADDING-RIGHT: 0px; HEIGHT: 32px; COLOR: #ffffff; FONT-SIZE: 15px; BORDER-TOP: medium none; CURSOR: pointer; FONT-WEIGHT: bold; MARGIN-RIGHT: 5px; BORDER-RIGHT: medium none; PADDING-TOP: 0px
}
.treeModal P INPUT.close {
	BACKGROUND-COLOR: #dc8989
}
.selectTreeModal H1 {
	COLOR: #999999; FONT-SIZE: 24px
}
.selectTreeModal DIV.selectTreeInputBox {
	BACKGROUND-IMAGE: url(../images/treeSelectInput.jpg); PADDING-BOTTOM: 0px; MARGIN: 25px 0px; PADDING-LEFT: 5px; WIDTH: 370px; PADDING-RIGHT: 5px; BACKGROUND-REPEAT: no-repeat; FLOAT: left; HEIGHT: 42px; PADDING-TOP: 0px
}
.selectTreeModal DIV.selectTreeInputBox INPUT {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; OUTLINE-WIDTH: medium; WIDTH: 370px; BACKGROUND: none transparent scroll repeat 0% 0%; HEIGHT: 42px; COLOR: #333333; FONT-SIZE: 15px; BORDER-TOP: medium none; FONT-WEIGHT: bold; BORDER-RIGHT: medium none
}
.selectTreeModal DIV.selectionBox {
	POSITION: relative; BACKGROUND-COLOR: #ffffff; WIDTH: 755px; FLOAT: left; HEIGHT: 365px
}
UL.mainSelection {
	POSITION: absolute; LIST-STYLE-TYPE: none; WIDTH: 140px; FLOAT: left; LIST-STYLE-IMAGE: none
}
UL.mainSelection {
	FLOAT: left
}
UL.mainSelection A:link {
	BACKGROUND-IMAGE: url(../images/treeMain.png); WIDTH: 139px; BACKGROUND-REPEAT: no-repeat; FLOAT: left; HEIGHT: 73px
}
UL.mainSelection A:visited {
	BACKGROUND-IMAGE: url(../images/treeMain.png); WIDTH: 139px; BACKGROUND-REPEAT: no-repeat; FLOAT: left; HEIGHT: 73px
}
UL.mainSelection A:hover {
	BACKGROUND-IMAGE: url(../images/treeMainSelected.png); WIDTH: 139px; BACKGROUND-REPEAT: no-repeat; FLOAT: left; HEIGHT: 73px
}
UL.mainSelection A.selected:link {
	BACKGROUND-IMAGE: url(../images/treeMainSelected.png); WIDTH: 139px; BACKGROUND-REPEAT: no-repeat; FLOAT: left; HEIGHT: 73px
}
UL.mainSelection A.selected:visited {
	BACKGROUND-IMAGE: url(../images/treeMainSelected.png); WIDTH: 139px; BACKGROUND-REPEAT: no-repeat; FLOAT: left; HEIGHT: 73px
}
UL.mainSelection A.selected:hover {
	BACKGROUND-IMAGE: url(../images/treeMainSelected.png); WIDTH: 139px; BACKGROUND-REPEAT: no-repeat; FLOAT: left; HEIGHT: 73px
}
UL.subSelection {
	BACKGROUND-IMAGE: url(../images/subBg.gif); POSITION: absolute; LIST-STYLE-TYPE: none; WIDTH: 145px; BACKGROUND-REPEAT: repeat-y; FLOAT: left; HEIGHT: 365px; LIST-STYLE-IMAGE: none; LEFT: 103px
}
UL.subSelection {
	FLOAT: left
}
UL.subSelection A:link {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 45px; WIDTH: 100px; PADDING-RIGHT: 0px; FLOAT: left; HEIGHT: 35px; COLOR: #333333; FONT-WEIGHT: bold; PADDING-TOP: 18px
}
UL.subSelection A:visited {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 45px; WIDTH: 100px; PADDING-RIGHT: 0px; FLOAT: left; HEIGHT: 35px; COLOR: #333333; FONT-WEIGHT: bold; PADDING-TOP: 18px
}
UL.subSelection A:hover {
	BACKGROUND-IMAGE: url(../images/subSelected.gif); BACKGROUND-REPEAT: no-repeat
}
UL.subSelection A.selected:link {
	BACKGROUND-IMAGE: url(../images/subSelected.gif); BACKGROUND-REPEAT: no-repeat
}
UL.subSelection A.selected:visited {
	BACKGROUND-IMAGE: url(../images/subSelected.gif); BACKGROUND-REPEAT: no-repeat
}
UL.subSelection A.selected:hover {
	BACKGROUND-IMAGE: url(../images/subSelected.gif); BACKGROUND-REPEAT: no-repeat
}
.selectionBox BLOCKQUOTE {
	POSITION: absolute; LIST-STYLE-TYPE: none; WIDTH: 532px; FLOAT: left; LIST-STYLE-IMAGE: none; LEFT: 220px
}
.selectionBox BLOCKQUOTE DL.desc {
	PADDING-BOTTOM: 50px; PADDING-LEFT: 20px; WIDTH: 510px; PADDING-RIGHT: 0px; FLOAT: left; PADDING-TOP: 10px
}
.selectionBox BLOCKQUOTE DL.desc DT {
	WIDTH: 180px; FLOAT: left
}
.selectionBox BLOCKQUOTE DL.desc DD {
	WIDTH: 200px; FLOAT: left; PADDING-TOP: 10px
}
.selectionBox BLOCKQUOTE DL.desc DD STRONG {
	WIDTH: 300px; FLOAT: left; FONT-SIZE: 16px
}
.selectionBox BLOCKQUOTE DL.desc DD EM {
	PADDING-BOTTOM: 35px; PADDING-LEFT: 0px; WIDTH: 300px; PADDING-RIGHT: 0px; FONT-FAMILY: Georgia, "Times New Roman", Times, serif; FLOAT: left; PADDING-TOP: 8px
}
.selectionBox BLOCKQUOTE DL.desc DD SPAN {
	WIDTH: 300px; FLOAT: left; COLOR: #333333; FONT-SIZE: 12px
}
.selectionBox BLOCKQUOTE DL.prop {
	PADDING-LEFT: 10px; WIDTH: 155px; FLOAT: left; COLOR: #333333; FONT-SIZE: 11px
}
.selectionBox BLOCKQUOTE DL.prop DT {
	WIDTH: 50px; FLOAT: left
}
.selectionBox BLOCKQUOTE DL.prop DD {
	WIDTH: 105px; FLOAT: left
}
.selectTreeModal P {
	TEXT-ALIGN: right; WIDTH: 700px; FLOAT: right; PADDING-TOP: 40px
}
.selectTreeModal P INPUT {
	BORDER-BOTTOM: medium none; TEXT-ALIGN: left; BORDER-LEFT: medium none; PADDING-BOTTOM: 0px; BACKGROUND-COLOR: #d6696a; PADDING-LEFT: 10px; WIDTH: 80px; PADDING-RIGHT: 0px; HEIGHT: 32px; COLOR: #ffffff; FONT-SIZE: 15px; BORDER-TOP: medium none; CURSOR: pointer; FONT-WEIGHT: bold; MARGIN-RIGHT: 5px; BORDER-RIGHT: medium none; PADDING-TOP: 0px
}
.selectTreeModal P INPUT.close {
	BACKGROUND-COLOR: #dc8989
}
